@media (min-width:1200px){
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}

.nav-fill.nav-justified {
    width: 100%;
    display: inline-flex;
    margin-bottom: 2em;
}

.nav-pills .nav-link {
  font-size: 120%;
  line-height: 1.6em;
  width: 100%;
  letter-spacing: 1px;
  margin-top: 10px;
  color: #2962ff;
}
.nav-pills .nav-link.active, .nav-pills .nav-link.active:focus {
  background-color: #2962ff;
  color: #fff;
}
.tab-pane.fade {
    transition: opacity .5s linear;
}

.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}

section#skills .featurette-icon {
    color: #2962ff;
}

div#m2pi-iterations a {
    padding: .375rem .75rem;
    margin: .5rem;
}


section#announcement {
    color: #153385;
    background-color: #d4e0ff;
    div.alert-bg {
        max-width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;


        div.alert {
            margin: 0;
            border: none;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    padding: 0;
    margin: 0;
}

div.li-description {
    font-size: 1rem;
}

ul.fa-ul.highlight-list li {
    padding-bottom: 1rem;
}
